.blueimp-gallery > .content {
  position:    absolute;
  top:         50%;
  left:        85px;
  line-height: 140%;
  height:      50%;
  margin-top:  -7%;
  color:       #072835;
  opacity:     .8;
  display:     none;

  .container-header {
    font-size:   22px;
    font-weight: bold;
  }

  .container-text{
    font-size: 16px;
  }

  .wrap > div{
    margin: 8px 65px 8px 0;
    word-break: break-all;
    word-wrap: break-word;
  }

  .btn{
    padding: 6px 30px;
    border-radius: 20px;
    background-color: #0996cf;
    color: #ffffff;
    opacity: 1;
  }

}
.blueimp-gallery-controls > .content {
  display: block;
}
.blueimp-gallery-carousel {
  box-shadow:       none;
  margin:           0;
  padding-bottom:   35.5444%;
  background-color: transparent;
}
