/** background colors */
.bg-sky {
  background-color: #0996cf;
  color: #fff;
}
.bg-white {
  background-color: #fff;
  color: #072835;
}
/** various form styles */
.simple-form button,
.simple-form input[type="submit"] {
  border-radius: 15px;
  text-transform: uppercase;
}
.simple-form textarea {
  resize: none;
}
.simple-form .form-control {
  border: none;
  border-bottom: 2px solid #dbe4e8;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  color: #072835;
}
.simple-form .has-error .form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border-color: #FF785D;
}
.simple-form .has-success .form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border-color: #4fbd76;
}
.btn-round {
  border-radius: 20px;
}
