html, body {
  background-color: #f5f5dc;
}
.wrap {
  padding-top: 53px;
}
.wrap-complex {
  @wd: 230px;
  @pdh: 4px;
  @mgh: 10px;

  .component {
    padding:  @pdh;
    margin:   0 @mgh;
    float:    left;
    position: relative;
  }

  .component-menu {
    width: @wd;
  }

  .component-body {
    margin-left: @wd + 2*@mgh + 2*@mgh;
    margin-right: @mgh;
  }

  .component-wfull {
    width: 100%;
    margin: 0;

  }

  .component-area {
    width:            100%;
    padding:          8px;
    background-color: #e2e2ca;
    border:           1px solid #dcdcc4;
    //clear: right;
  }
}
// панель вверху, вместо шапки
.wrap-header {
  background-color: #07566a;
  color:            #fff;
  position:         fixed;
  top:              0;
  left:             0;
  width:            100%;
  z-index:          2;
  box-shadow:       0 0 4px 0 rgba(35, 15, 45, 0.4);

  p {
    margin:         8px;
    text-transform: uppercase;
    font-weight:    400;

    a, a:hover, a:link, a:visited, a:active {
      color: inherit;
    }
  }
}