/** background colors */
.bg-sky {
  background-color: #0996cf;
  color:            #fff;
}
.bg-white {
  background-color: #fff;
  color:            #072835;
}

/** various form styles */
// form with class "simple-form"
.simple-form {
  button, input[type="submit"] {
    border-radius:  15px;
    text-transform: uppercase;
  }

  textarea{
    resize: none;
  }

  .form-control {
    border:             none;
    border-bottom:      2px solid #dbe4e8;
    border-radius:      0;
    box-shadow:         none;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    padding-left:       0;
    padding-right:      0;
    color:#072835;
  }

  .has-error .form-control {
    box-shadow:         none;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    border-color:       #FF785D;
  }

  .has-success .form-control {
    box-shadow:         none;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    border-color:       #4fbd76;
  }
}

// buttons
.btn-round{
  border-radius: 20px;
}