/* navbar */
.custom-header-menu.navbar-default .navbar-brand {
    color:   rgba(119, 119, 119, 1);
    padding: 4px;
}
.custom-header-menu.navbar-default .navbar-brand img {
    height:           100%;
    background-color: transparent;
}
.custom-header-menu.navbar-default {
    font-size:           14px;
    background-color:    rgba(255, 255, 255, 1);
    border-bottom-width: 1px;
}
.custom-header-menu.navbar-default .navbar-nav > li > a {
    color:            rgba(7, 40, 53, 1);
    background-color: rgba(255, 255, 255, 1);
}
.custom-header-menu.navbar-default .navbar-nav > li > a:hover,
.custom-header-menu.navbar-default .navbar-nav > li > a:focus {
    /*color:            rgba(19, 86, 112, 1);*/
    color:            rgba(9, 150, 207, 1);
    background-color: rgba(255, 255, 255, 1);
}
.custom-header-menu.navbar-default .navbar-nav > .active > a,
.custom-header-menu.navbar-default .navbar-nav > .active > a:hover,
.custom-header-menu.navbar-default .navbar-nav > .active > a:focus {
    color:            rgba(9, 150, 207, 1);
    background-color: rgba(255, 255, 255, 1);
}
.custom-header-menu.navbar-default .navbar-toggle {
    border-color: #233f48;
}
.custom-header-menu.navbar-default .navbar-toggle:hover,
.custom-header-menu.navbar-default .navbar-toggle:focus {
    background-color: #c4e4d2;
}
.custom-header-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #233f48;
}
.custom-header-menu.navbar-default .navbar-toggle:hover .icon-bar,
.custom-header-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #315353;
}
/* header menu */
#custom-header-menu.navbar-default .navbar-nav > .active > a,
#custom-header-menu.navbar-default .navbar-nav > .active > a:hover,
#custom-header-menu.navbar-default .navbar-nav > .active > a:focus {
    border-bottom: 3px solid #4ed88d;
}
/* footer menu */
#custom-footer-menu {
    padding: 10px 2px;
    margin:  0;
}

/* регулировка высоты */
html, body{
    height: 100%;
}
body > .wrapper{
    display: table;
    height: 100%;
    width:100%;
}
body > .wrapper > .wrapper-row{
    display: table-row;
    height:100%;
}
body > .wrapper > .wrap{

}