footer .keep-end {
  background-color: #2d3a47;
  padding: 7px;
  font-size: 12px;
  color: #77898f; }
  footer .keep-end .right-protected {
    -moz-user-select: all;
    -webkit-user-select: none;
    cursor: default; }
  footer .keep-end p {
    margin: 0; }
  footer .keep-end .policy-links a {
    margin-left: 22px; }
  footer .keep-end .policy-links a:link, footer .keep-end .policy-links a:focus, footer .keep-end .policy-links a:visited, footer .keep-end .policy-links a:active {
    color: #77898f; }
  footer .keep-end .policy-links a:hover {
    color: #697c82; }

.wrapper-space {
  padding: 25px 0; }

.box-table {
  box-shadow: 0 0 20px 0 rgba(148, 170, 194, 0.3); }
  .box-table .box-info {
    padding: 20px; }
  .box-table .box-info-header {
    padding: 20px 15px 10px; }
  .box-table .box-info-stuff {
    padding: 10px 15px;
    font-size: 12px; }
    .box-table .box-info-stuff img {
      max-width: 30px; }
    .box-table .box-info-stuff .media {
      padding: 6px 0; }
    .box-table .box-info-stuff .media-body p {
      margin-bottom: 4px; }

.list-info {
  margin: 10px 0; }
  .list-info .list-info-item {
    padding: 6px 1px;
    margin: 7px 1px; }

nav#custom-header-menu {
  margin: 0;
  margin-bottom: 1px; }

#diamond-trend-feed {
  margin-bottom: 5px; }

#page-clou {
  padding: 10px 1px 6px;
  margin-bottom: 6px;
  color: #072835;
  text-transform: capitalize; }

#features-thumbnail .thumbnail {
  border: none;
  color: #072835; }
  #features-thumbnail .thumbnail .thumbnail-icon {
    padding: 0 10px; }
    #features-thumbnail .thumbnail .thumbnail-icon img {
      height: 40px; }
#features-thumbnail .caption .thumbnail-label {
  color: #072835;
  font-weight: 400; }
#features-thumbnail .caption p {
  padding-top: 6px;
  color: #5f7781; }

.tabs-x .tab-content {
  padding: 0;
  clear: both; }
  .tabs-x .tab-content .video-list .video-unit {
    padding: 10px 0; }
  .tabs-x .tab-content .video-list .video-label {
    color: #072835;
    font-size: 16px;
    padding: 7px 0 2px; }
  .tabs-x .tab-content .video-list .video-created {
    color: #8fbbce;
    font-size: 12px;
    padding: 2px 0 4px; }
.tabs-x ul.nav-tabs li > a {
  border-radius: 0;
  border: none;
  outline: none; }
.tabs-x ul.nav-tabs li > a:link, .tabs-x ul.nav-tabs li > a:visited {
  color: #a3bcd5; }
.tabs-x ul.nav-tabs li > a:hover, .tabs-x ul.nav-tabs li > a:active {
  color: #a4aad4;
  background-color: transparent; }
.tabs-x ul.nav-tabs li.active > a {
  font-weight: 400;
  outline: none; }
.tabs-x ul.nav-tabs li.active > a:link, .tabs-x ul.nav-tabs li.active > a:visited {
  color: #0996cf;
  border: none;
  border-bottom: 3px solid #0996cf !important; }
.tabs-x ul.nav-tabs li.active > a:hover, .tabs-x ul.nav-tabs li.active > a:active {
  color: #0876ba;
  border: none;
  border-bottom: 3px solid #0996cf !important; }

.news-list .list-view {
  padding: 10px 0 15px;
  margin-left: -15px;
  margin-right: -15px; }
.news-list .list-group-item {
  border-radius: 0;
  padding: 12px 10px;
  border: none; }
  .news-list .list-group-item .media-img-object {
    max-width: 200px;
    min-width: 100px;
    height: auto; }
  .news-list .list-group-item .media-heading {
    color: #072835; }
  .news-list .list-group-item .media-date {
    color: #8fbbce;
    font-size: 12px;
    margin: 3px 0; }
.news-list .list-group-item:hover, .news-list .list-group-item:active {
  background-color: #f7f8fa; }
  .news-list .list-group-item:hover .media-body, .news-list .list-group-item:active .media-body {
    color: #5f7781; }

.category-list {
  padding: 10px 4px;
  margin: 12px auto; }
  .category-list .category-list-header {
    color: #072835;
    margin: 2px 0 5px; }
  .category-list .list-group-item {
    border-radius: 0;
    border: none;
    border-bottom: 1px dashed #e6e9ea;
    margin-bottom: 0;
    padding: 8px 1px; }
    .category-list .list-group-item .badge {
      color: #072835;
      background-color: transparent; }
    .category-list .list-group-item .glyphicon {
      font-size: 12px; }
  .category-list .list-group-item:hover, .category-list .list-group-item:active {
    background-color: transparent;
    border-bottom: 1px solid #a5c8ee;
    color: #363636; }

.news-heading {
  color: #072835; }

.news-date {
  font-size: 12px;
  color: #8fbbce;
  padding: 1px 0;
  margin: 1px 0 12px; }

.news-img {
  max-width: 220px; }

.news-body {
  padding: 14px 0;
  margin: 3px 0;
  font-size: 16px;
  color: #5f7781; }

.news-content {
  margin-bottom: 20px; }
  .news-content .news-img {
    margin-left: 15px;
    margin-bottom: 15px; }

.simple-block-header {
  color: #072835;
  margin: 2px 0 5px; }

.media-list.news-related a.pull-left {
  width: 80px;
  height: auto; }
.media-list.news-related .media-heading {
  color: #072835; }

.media a, .media a:link, .media a:visited {
  color: #072835; }

.education-header {
  color: #5f7781;
  margin-bottom: 15px; }

.education-header a, .education-header a:link, .education-header a:visited {
  color: #0996cf; }

.education-header p {
  padding-bottom: 10px; }

.lesson-unit .thumbnail {
  border-radius: 0;
  border: none; }

.lesson-unit .thumbnail .caption {
  padding: 0; }

.lesson-unit .thumbnail .caption p {
  color: #5f7781;
  word-break: break-all;
  word-wrap: break-word; }

.lesson-unit .thumbnail .caption .lesson-more a {
  padding-left: 0;
  color: #0996cf;
  text-transform: uppercase; }

.lesson-unit .thumbnail .caption .lesson-more a:after {
  content: " >"; }

.lesson-unit .thumbnail .caption .lesson-more a:link, .lesson-unit .thumbnail .caption .lesson-more a:visited {
  color: #0996cf; }

.lesson-unit .thumbnail .caption .lesson-more a:hover, .lesson-unit .thumbnail .caption .lesson-more a:active {
  color: #0885bc; }

.panel {
  border-color: #e3e8ef; }

.panel .nav-pills a {
  border-bottom: 1px dashed #e6e9ea; }

.panel .nav-pills li:last-child > a {
  border-bottom: none; }

.panel .nav-pills li > a {
  color: #072835; }

.panel .nav-pills > li.active > a {
  color: #fff; }

.kv-sidenav .nav a {
  padding-top: 6px;
  padding-bottom: 6px; }

.news-col {
  margin: 5px 0 20px; }
  .news-col .simple-block-header {
    padding: 4px 0 6px;
    margin: 2px 0 6px; }
  .news-col .news-link {
    display: block;
    line-height: 1.4em;
    margin: 1px 0 4px;
    color: #5f7781; }
  .news-col .news-link:link, .news-col .news-link:visited {
    color: #5f7781; }
  .news-col .news-link:active, .news-col .news-link:hover {
    color: #0996cf;
    text-decoration: none; }
  .news-col .btn {
    text-transform: uppercase;
    padding-left: 0;
    color: #0996cf; }
  .news-col .btn:after {
    content: " >"; }
  .news-col .btn:link, .news-col .btn:visited {
    color: #0996cf;
    text-decoration: none; }
  .news-col .btn:active, .news-col .btn:hover {
    color: #4ed88d; }
  .news-col .news-date {
    font-size: 11px; }

.trend-line {
  border-bottom: 1px solid #E1E9EB;
  background-color: #fff; }
  .trend-line .thumbnail {
    border: none;
    margin: 0;
    padding: 0;
    position: relative; }
    .trend-line .thumbnail .caption {
      padding: 10px 15px; }
      .trend-line .thumbnail .caption #trend-cut {
        color: #072835;
        font-size: 16px; }
        .trend-line .thumbnail .caption #trend-cut small {
          font-size: 0.8em; }
      .trend-line .thumbnail .caption #trend-diff-price {
        font-size: 30px;
        color: #0996cf;
        padding: 2px 1px;
        margin: 1px 0;
        line-height: 1em; }
      .trend-line .thumbnail .caption #trend-price-average {
        color: #5f7781;
        font-size: 12px; }
      .trend-line .thumbnail .caption #trend-update {
        color: #8fbbce;
        font-size: 10px;
        padding: 3px 0;
        margin: 2px 0; }
  .trend-line .ver-line-box {
    position: absolute;
    top: 30%;
    bottom: 30%; }
    .trend-line .ver-line-box .ver-line {
      border-left: 1px solid #8aacba;
      height: 100%; }

/*# sourceMappingURL=handle-page.css.map */
