// diamond software
.chart-wind {
  padding: 3px;
  margin:  5px 0 8px;

  .btn-group {
    border-bottom: 1px solid #cddceb;

    .btn {
      padding:          9px 22px;
      background-color: transparent;
      color:            #a3bcd5;
      border-radius:    0;
    }
    .btn.active {
      color:         #0996cf;
      border-bottom: 3px solid #0996cf;
      box-shadow:    none;
    }
    .btn:hover{
      color:#0996cf;
    }
    .btn:focus, .btn:active {
      box-shadow: none;
    }
  }
}
#graph-title{
font-weight:bold;
  margin:17px 0 15px;
}
#panel-handle-diamond-price{
  margin:26px 0 20px;
  padding:25px 20px 15px;

  .btn{
    text-transform: uppercase;
    margin: 20px 0;
    padding: 6px 8px;
  }

  select{
    margin-bottom: 20px;
  }

  .today-price{
    .price-sence{
      color: #0996cf;
    }
  }
}
