footer .keep-end
  background-color: #2d3a47
  padding: 7px
  font-size: 12px
  color: #77898f

  .right-protected
    -moz-user-select: all
    -webkit-user-select: none
    cursor: default

  p
    margin: 0

  .policy-links a
    margin-left: 22px

  .policy-links
    a:link, a:focus, a:visited, a:active
      color: #77898f

    a:hover
      color: #697c82

// несколько контейнеров для отступов
.wrapper-space
  padding: 25px 0
.box-table
  box-shadow: 0 0 20px 0 rgba(148, 170, 194, 0.3)

  .box-info
    padding: 20px

  .box-info-header
    padding: 20px 15px 10px

  .box-info-stuff
    padding: 10px 15px
    font-size: 12px

    img
      max-width: 30px

    .media
      padding: 6px 0

    .media-body
      p
        margin-bottom: 4px

.list-info
  margin: 10px 0

  .list-info-item
    padding: 6px 1px
    margin: 7px 1px

// шапка сайта
nav#custom-header-menu
  margin: 0
  margin-bottom: 1px

// лента статистики диамантов
#diamond-trend-feed
  margin-bottom: 5px

// заголовок страницы
#page-clou
  padding: 10px 1px 6px
  margin-bottom: 6px
  color: #072835
  text-transform: capitalize

// миниатюры на вкладке "features"
#features-thumbnail
  .thumbnail
    border: none
    color: #072835

    .thumbnail-icon
      padding: 0 10px

      img
        height: 40px

  .caption
    .thumbnail-label
      color: #072835
      font-weight: 400

    p
      padding-top: 6px
      color: #5f7781

// вкладки с видео
.tabs-x
  .tab-content
    padding: 0
    clear: both

    .video-list
      .video-unit
        padding: 10px 0

      .video-label
        color: #072835
        font-size: 16px
        padding: 7px 0 2px

      .video-created
        color: #8fbbce
        font-size: 12px
        padding: 2px 0 4px

  ul.nav-tabs
    li > a
      border-radius: 0
      border: none
      outline: none

    li > a:link, li > a:visited
      color: #a3bcd5

    li > a:hover, li > a:active
      color: #a4aad4
      background-color: transparent

    li.active > a
      font-weight: 400
      outline: none

    li.active > a:link, li.active > a:visited
      color: #0996cf
      border: none
      border-bottom: 3px solid #0996cf !important

    li.active > a:hover, li.active > a:active
      color: #0876ba
      border: none
      border-bottom: 3px solid #0996cf !important

// вкладка новостей
.news-list
  .list-view
    padding: 10px 0 15px
    margin-left: -15px
    margin-right: -15px

  .list-group-item
    border-radius: 0
    padding: 12px 10px
    border: none

    .media-img-object
      max-width: 200px
      min-width: 100px
      height: auto

    .media-heading
      color: #072835

    .media-date
      color: #8fbbce
      font-size: 12px
      margin: 3px 0

  .list-group-item:hover, .list-group-item:active
    background-color: #f7f8fa

    .media-body
      color: #5f7781

// стиль категорий в новостях
.category-list
  padding: 10px 4px
  margin: 12px auto

  .category-list-header
    color: #072835
    margin: 2px 0 5px

  .list-group-item
    border-radius: 0
    border: none
    border-bottom: 1px dashed #e6e9ea
    margin-bottom: 0
    padding: 8px 1px

    .badge
      color: #072835
      background-color: transparent

    .glyphicon
      font-size: 12px

  .list-group-item:hover, .list-group-item:active
    background-color: transparent
    border-bottom: 1px solid #a5c8ee
    color: #363636

//
.news-heading
  color: #072835
.news-date
  font-size: 12px
  color: #8fbbce
  padding: 1px 0
  margin: 1px 0 12px
.news-img
  max-width: 220px
.news-body
  padding: 14px 0
  margin: 3px 0
  font-size: 16px
  color: #5f7781
.news-content
  margin-bottom: 20px
  .news-img
    margin-left: 15px
    margin-bottom: 15px
.simple-block-header
  color: #072835
  margin: 2px 0 5px
.media-list.news-related
  a.pull-left
    width: 80px
    height: auto

  .media-heading
    color: #072835
.media a, .media a:link, .media a:visited
  color: #072835

// education
.education-header
  color: #5f7781
  margin-bottom: 15px
.education-header a, .education-header a:link, .education-header a:visited
  color: #0996cf
.education-header p
  padding-bottom: 10px
.lesson-unit .thumbnail
  border-radius: 0
  border: none
.lesson-unit .thumbnail .caption
  padding: 0
.lesson-unit .thumbnail .caption p
  color: #5f7781
  word-break: break-all
  word-wrap: break-word
.lesson-unit .thumbnail .caption .lesson-more a
  padding-left: 0
  color: #0996cf
  text-transform: uppercase
.lesson-unit .thumbnail .caption .lesson-more a:after
  content: " >"
.lesson-unit .thumbnail .caption .lesson-more a:link, .lesson-unit .thumbnail .caption .lesson-more a:visited
  color: #0996cf
.lesson-unit .thumbnail .caption .lesson-more a:hover, .lesson-unit .thumbnail .caption .lesson-more a:active
  color: #0885bc
.panel
  border-color: #e3e8ef
.panel .nav-pills a
  border-bottom: 1px dashed #e6e9ea
.panel .nav-pills li:last-child > a
  border-bottom: none
.panel .nav-pills li > a
  color: #072835
.panel .nav-pills > li.active > a
  color: #fff
.kv-sidenav .nav a
  padding-top: 6px
  padding-bottom: 6px

// main page
.news-col
  margin: 5px 0 20px

  .simple-block-header
    padding: 4px 0 6px
    margin: 2px 0 6px

  .news-link
    display: block
    line-height: 1.4em
    margin: 1px 0 4px
    color: #5f7781

  .news-link:link, .news-link:visited
    color: #5f7781

  .news-link:active, .news-link:hover
    color: #0996cf
    text-decoration: none

  .btn
    text-transform: uppercase
    padding-left: 0
    color: #0996cf

  .btn:after
    content: " >"

  .btn:link, .btn:visited
    color: #0996cf
    text-decoration: none

  .btn:active, .btn:hover
    color: #4ed88d

  .news-date
    font-size: 11px

// trend block
.trend-line
  border-bottom: 1px solid #E1E9EB
  background-color: #fff

  .thumbnail
    border: none
    margin: 0
    padding: 0
    position: relative

    .caption
      padding: 10px 15px

      #trend-cut
        color: #072835
        font-size: 16px

        small
          font-size: 0.8em

      #trend-diff-price
        font-size: 30px
        color: #0996cf
        padding: 2px 1px
        margin: 1px 0
        line-height: 1em

      #trend-price-average
        color: #5f7781
        font-size: 12px

      #trend-update
        color: #8fbbce
        font-size: 10px
        padding: 3px 0
        margin: 2px 0

  .ver-line-box
    position: absolute
    top: 30%
    bottom: 30%

    .ver-line
      border-left: 1px solid #8aacba
      height: 100%

