.chart-wind {
  padding: 3px;
  margin: 5px 0 8px;
}
.chart-wind .btn-group {
  border-bottom: 1px solid #cddceb;
}
.chart-wind .btn-group .btn {
  padding: 9px 22px;
  background-color: transparent;
  color: #a3bcd5;
  border-radius: 0;
}
.chart-wind .btn-group .btn.active {
  color: #0996cf;
  border-bottom: 3px solid #0996cf;
  box-shadow: none;
}
.chart-wind .btn-group .btn:hover {
  color: #0996cf;
}
.chart-wind .btn-group .btn:focus,
.chart-wind .btn-group .btn:active {
  box-shadow: none;
}
#graph-title {
  font-weight: bold;
  margin: 17px 0 15px;
}
#panel-handle-diamond-price {
  margin: 26px 0 20px;
  padding: 25px 20px 15px;
}
#panel-handle-diamond-price .btn {
  text-transform: uppercase;
  margin: 20px 0;
  padding: 6px 8px;
}
#panel-handle-diamond-price select {
  margin-bottom: 20px;
}
#panel-handle-diamond-price .today-price .price-sence {
  color: #0996cf;
}
